@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

body {
  font-family: 'Assistant', sans-serif;
}
a {
  text-decoration: none;
  color: #00adb5;
}
h1, h2, h3 {
  color: #14ffec;
}
ul, p {
  color: white;
}
p {
  font-size: 20px;
}
.column {
  float: left;
  width: 25%;
  padding: 5px'
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

footer {
  clear: both;
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  text-align: center;
  background-color: #181818;
}

.bannerscale {
  width: 100%;
}

.centerimg {
  width:35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.topnav {
  overflow: hidden;
  background-color: #323232;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #00adb5;
  color: black;
}

.topnav a.active {
  background-color: #14ffec;
  color: black;
}

a:hover.discord {
  color: #5865f2;
}

a:hover.tiktok {
  color: red;
}

a:hover.twitch {
  color: #9146ff;
}

.discordlogo {
  width: 5%;
  position: absolute;
  top: 425px;
  left: 50px;
}

.discord {
  font-size: 175%;
  color: white;
  position: absolute;
  top: 425px;
  left: 100px;
  font-family: sans-serif;
}

.tiktoklogo {
  width: 4%;
  position: absolute;
  top: 419px;
  left: 335px;
}

.tiktok {
  font-size: 175%;
  color: white;
  position: absolute;
  top: 425px;
  left: 375px;
  font-family: sans-serif;
}

.twitchlogo {
  width: 4%;
  position: absolute;
  top: 423px;
  left: 575px;
}

.twitch {
  font-size: 175%;
  color: white;
  position: absolute;
  top: 425px;
  left: 625px;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #212121;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper h1.glitch {
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  position: relative;
  font-size: 75px;
  padding: 30px;
}
.wrapper h1.glitch::before, .wrapper h1.glitch::after {
  padding: 30px;
  color: white;
  content: "SixSouls";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(19, 19, 19);
  overflow: hidden;
  top: 0;
}
.wrapper h1.glitch::before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation-name: glitch-animation-1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}
.wrapper h1.glitch::after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation-name: glitch-animation-2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}

@keyframes glitch-animation-1 {
  0% {
    clip: rect(21px, 350px, 31px, 30px);
  }
  5% {
    clip: rect(86px, 350px, 6px, 30px);
  }
  10% {
    clip: rect(126px, 350px, 23px, 30px);
  }
  15% {
    clip: rect(127px, 350px, 27px, 30px);
  }
  20% {
    clip: rect(20px, 350px, 25px, 30px);
  }
  25% {
    clip: rect(5px, 350px, 116px, 30px);
  }
  30% {
    clip: rect(43px, 350px, 143px, 30px);
  }
  35% {
    clip: rect(114px, 350px, 110px, 30px);
  }
  40% {
    clip: rect(55px, 350px, 84px, 30px);
  }
  45% {
    clip: rect(28px, 350px, 69px, 30px);
  }
  50% {
    clip: rect(116px, 350px, 147px, 30px);
  }
  55% {
    clip: rect(44px, 350px, 19px, 30px);
  }
  60% {
    clip: rect(75px, 350px, 13px, 30px);
  }
  65% {
    clip: rect(131px, 350px, 38px, 30px);
  }
  70% {
    clip: rect(66px, 350px, 123px, 30px);
  }
  75% {
    clip: rect(112px, 350px, 114px, 30px);
  }
  80% {
    clip: rect(106px, 350px, 77px, 30px);
  }
  85% {
    clip: rect(18px, 350px, 64px, 30px);
  }
  90% {
    clip: rect(77px, 350px, 81px, 30px);
  }
  95% {
    clip: rect(31px, 350px, 97px, 30px);
  }
  100% {
    clip: rect(138px, 350px, 106px, 30px);
  }
}
@keyframes glitch-animation-2 {
  0% {
    clip: rect(24px, 350px, 143px, 30px);
  }
  5% {
    clip: rect(91px, 350px, 111px, 30px);
  }
  10% {
    clip: rect(29px, 350px, 65px, 30px);
  }
  15% {
    clip: rect(96px, 350px, 144px, 30px);
  }
  20% {
    clip: rect(23px, 350px, 13px, 30px);
  }
  25% {
    clip: rect(148px, 350px, 149px, 30px);
  }
  30% {
    clip: rect(150px, 350px, 20px, 30px);
  }
  35% {
    clip: rect(55px, 350px, 25px, 30px);
  }
  40% {
    clip: rect(112px, 350px, 105px, 30px);
  }
  45% {
    clip: rect(81px, 350px, 39px, 30px);
  }
  50% {
    clip: rect(16px, 350px, 150px, 30px);
  }
  55% {
    clip: rect(148px, 350px, 143px, 30px);
  }
  60% {
    clip: rect(100px, 350px, 90px, 30px);
  }
  65% {
    clip: rect(112px, 350px, 139px, 30px);
  }
  70% {
    clip: rect(81px, 350px, 142px, 30px);
  }
  75% {
    clip: rect(42px, 350px, 6px, 30px);
  }
  80% {
    clip: rect(16px, 350px, 20px, 30px);
  }
  85% {
    clip: rect(29px, 350px, 56px, 30px);
  }
  90% {
    clip: rect(127px, 350px, 46px, 30px);
  }
  95% {
    clip: rect(123px, 350px, 31px, 30px);
  }
  100% {
    clip: rect(132px, 350px, 66px, 30px);
  }
}